<footer class="app-footer mt-5">
  <div class="container text-center py-3">
    <div class="small">
      Created by <strong>Bibek Sow Mondal</strong>
    </div>
    <div class="small ">
      Support: <a href="mailto:help.dev@gmail.com">help.dev@gmail.com</a>
    </div>
  </div>
</footer>
